.container-fluid {
    margin-top: 4.5rem;
    /* overflow: hidden; */
}
.header-text
{
    font-family: Shrikhand;
}
.input-form
{
    position: relative;
    right: 10%;
}
.banner-img
{
    width: 100%;
    height: 76%;
    position: relative;
}
.waves-img
{
    width: 99%;
    position: absolute;
}
.input-form
{
    text-align: center;
}
.box
{
    margin-top: 1rem;
    padding: 23px;
    padding-inline-end: inherit;
    border-radius: 28px;
    background: whitesmoke;
}

.box .delete-btn
{
    background: tomato;
    border-radius: 28px;
    float:right;
    display: inline;
    font-family:  Shrikhand;
}
.add-btn
{
    border-radius: 28px;
    font-family:  Shrikhand;
}
.taskList-text
{
    font-family:  Shrikhand;
    font-size: 20px;
}

@media only screen and (max-width: 600px){
    .container-fluid {
        margin-top: unset;
    }
    .header-text{
        font-size: 25px;
    }
    .box{
        padding: 10px;
    }
    .input-form{
        right: unset;
    }
    
    .add-btn{
        margin-top: 0.5rem;
    }
}